<div class="sidenav">
    <a routerLink="/home">Home</a>
    <a routerLink="/upload">Upload</a>
    <a routerLink="/references">References</a>
</div>

<div class="container">
    <div class="box">
        <p>Project done by Vlad Denysiuk <br>
            My GitHub repositories: <br>
            Social-net Project (Work in progress) : <a href="https://github.com/vladd-den/Social-net">
                https://github.com/vladd-den/Social-net</a> <br>
            Social links: <br>
            Instagram: <a href="https://www.instagram.com/_enfield/?hl=ru">https://www.instagram.com/_enfield/?hl=ru</a> <br>
            Telegram: @mentoro
        </p>
    </div>
</div>